<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>num</key>
		<integer>0</integer>
		<key>name</key>
		<string>Janeiro</string>
		<key>entries</key>
		<array>
			<dict>
				<key>num</key>
				<integer>0</integer>
				<key>value</key>
				<integer>-50</integer>
				<key>desc</key>
				<string>Camiseta</string>
				<key>date</key>
				<date>2018-07-27T13:02:43Z</date>
				<key>type</key>
				<string>Despesa</string>
				<key>payment</key>
				<string>Crédito</string>
			</dict>
			<dict>
				<key>num</key>
				<integer>1</integer>
				<key>value</key>
				<real>1000</real>
				<key>desc</key>
				<string>Bepid</string>
				<key>date</key>
				<date>2018-07-27T13:02:43Z</date>
				<key>type</key>
				<string>Receita</string>
				<key>payment</key>
				<string>Crédito</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>num</key>
		<integer>1</integer>
		<key>name</key>
		<string>Fevereiro</string>
		<key>entries</key>
		<array>
			<dict>
				<key>num</key>
				<integer>2</integer>
				<key>value</key>
				<integer>-50</integer>
				<key>desc</key>
				<string>Ifood</string>
				<key>date</key>
				<date>2018-07-27T13:02:43Z</date>
				<key>type</key>
				<string>Despesa</string>
				<key>payment</key>
				<string>Débito</string>
			</dict>
			<dict>
				<key>num</key>
				<integer>3</integer>
				<key>value</key>
				<integer>-40</integer>
				<key>desc</key>
				<string>Pizza</string>
				<key>date</key>
				<date>2018-07-27T13:02:43Z</date>
				<key>type</key>
				<string>Despesa</string>
				<key>payment</key>
				<string>Crédito</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
